---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Surprise">
  <h2>Enjoy the performant confetti animation!</h2>
  <Button data-confetti-button>Click me</Button>
</BaseLayout>

<script>
  import confetti, { type Options } from "canvas-confetti";

  const fire = (particleRatio: number, opts: Options) => {
    confetti({
      ...opts,
      origin: { y: 0.7 },
      particleCount: Math.floor(500 * particleRatio),
    });
  };

  document.addEventListener("astro:page-load", () => {
    const button = document.querySelector("[data-confetti-button]");

    if (button) {
      button.addEventListener("click", () => {
        fire(0.25, {
          spread: 26,
          startVelocity: 55,
        });
        fire(0.2, {
          spread: 60,
        });
        fire(0.35, {
          spread: 100,
          decay: 0.91,
          scalar: 0.8,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 25,
          decay: 0.92,
          scalar: 1.2,
        });
        fire(0.1, {
          spread: 120,
          startVelocity: 45,
        });
      });
    }
  });
</script>
