---
type Props = astroHTML.JSX.ButtonHTMLAttributes;

const props = Astro.props;
---

<button {...props} class="button"><slot /></button>

<style>
  .button {
    align-self: center;
    color: #215948;
    background-color: transparent;
    border: 3px solid #215948;
    border-radius: 16px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.125rem;
    font-family: inherit;
    line-height: 1.15;
  }

  .button:hover {
    color: #f4fffd;
    background-color: #075f37;
  }

  @media screen and (min-width: 400px) {
    .button {
      font-size: 1.25rem;
    }
  }
</style>
