---
interface Props {
  url: string;
  platform: string;
}

const { url, platform } = Astro.props;
---

<a target="_blank" rel="noopener noreferrer" href={url}>{platform}</a>

<style>
  a {
    border-radius: 4px;
    padding: 8px 16px;
    color: #f4fffd;
    background-color: #011936;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
